#app {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    '. header .'
    '. component .'
    '. footer .';

  #header {
    grid-area: header;
  }

  #component {
    grid-area: component;
  }

  #footer {
    grid-area: footer;
  }
}
